<!-- <app-menu></app-menu> -->
<div class="bg">
  <div class="container pt-c ">
    <div class="row d-flex justify-content-center" >
      <div class="col-12 mx-5 text-primary">
        <p class="pl-5 titulos">MULHERES</p>
        <hr />
      </div>
    </div>
    
    <!-- Cards de produtos -->
    <div class=" row d-flex justify-content-around pt-3">
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://lh3.googleusercontent.com/proxy/F0VLVpc3NoV4PuXEoADbnrNF4J92vPPkkSbw3-Y4gwTTxUK8pxKfSB31LSKPXxnEq9dOC5ooUwyxS-TKDG_ufEAxlYyJGh4bLRasa6mHywpcv4MGtWCFUf1CKBE"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Fluxo Sem Tabu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit nam adipisci nulla quas labore
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0peZjOfmVsqimeRad3RxAIdP_MCsDOIPELg&usqp=CAU"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Sementes do Amanhã</h4>
              <p>
                Uma comunhão entre as crianças que supere as barreiras de
                preconceitos raciais
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://lh3.googleusercontent.com/proxy/F0VLVpc3NoV4PuXEoADbnrNF4J92vPPkkSbw3-Y4gwTTxUK8pxKfSB31LSKPXxnEq9dOC5ooUwyxS-TKDG_ufEAxlYyJGh4bLRasa6mHywpcv4MGtWCFUf1CKBE"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Fluxo Sem Tabu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit nam adipisci nulla quas labore
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://lh3.googleusercontent.com/proxy/F0VLVpc3NoV4PuXEoADbnrNF4J92vPPkkSbw3-Y4gwTTxUK8pxKfSB31LSKPXxnEq9dOC5ooUwyxS-TKDG_ufEAxlYyJGh4bLRasa6mHywpcv4MGtWCFUf1CKBE"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Fluxo Sem Tabu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit nam adipisci nulla quas labore
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards de produtos -->
    <div class="row d-flex justify-content-around pt-4">
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://lh3.googleusercontent.com/proxy/F0VLVpc3NoV4PuXEoADbnrNF4J92vPPkkSbw3-Y4gwTTxUK8pxKfSB31LSKPXxnEq9dOC5ooUwyxS-TKDG_ufEAxlYyJGh4bLRasa6mHywpcv4MGtWCFUf1CKBE"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Fluxo Sem Tabu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit nam adipisci nulla quas labore
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0peZjOfmVsqimeRad3RxAIdP_MCsDOIPELg&usqp=CAU"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Sementes do Amanhã</h4>
              <p>
                Uma comunhão entre as crianças que supere as barreiras de
                preconceitos raciais
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://lh3.googleusercontent.com/proxy/F0VLVpc3NoV4PuXEoADbnrNF4J92vPPkkSbw3-Y4gwTTxUK8pxKfSB31LSKPXxnEq9dOC5ooUwyxS-TKDG_ufEAxlYyJGh4bLRasa6mHywpcv4MGtWCFUf1CKBE"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Fluxo Sem Tabu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit nam adipisci nulla quas labore
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container">
          <div class="d-flex justify-content-center">
            <div
              class="profile-img text-center"
              style="
                margin-top: 1rem;
                width: 12.5rem;
                height: 12.5rem;
                border-radius: 50%;
                overflow: hidden;
                border-style: solid;
                border-color: whitesmoke;
              "
            >
              <img
                class="img-fluid"
                src="https://lh3.googleusercontent.com/proxy/F0VLVpc3NoV4PuXEoADbnrNF4J92vPPkkSbw3-Y4gwTTxUK8pxKfSB31LSKPXxnEq9dOC5ooUwyxS-TKDG_ufEAxlYyJGh4bLRasa6mHywpcv4MGtWCFUf1CKBE"
                alt="imagem de perfil"
              />
            </div>
            <div class="container card-perfil text-center">
              <h4 class="d-flex justify-content-center">Fluxo Sem Tabu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Impedit nam adipisci nulla quas labore
              </p>

              <a type="button" class="btn btn-warning m-3" href="#">
                Ver Produtos
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
