.bg {
    background-image: url("https://i.imgur.com/F7txLr5.png");
    height: 660px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    
  }

  .bgg{
      background-color: #e9e9e9;
      color: #2672B0;
      font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.p-100{
    padding: 100px 3% 20px;
}

.p-200{
    padding: 200px 3% 20px;
}

.p-10{
    padding: 20px 70px;
}

.fonte{
    font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    color: #fdbe0f;   
}

.f2{
    font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #2672B0;
}

.menu-fixo{
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all .5s;
}

.fs1{
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
    color: #2672B0;
    font-style: initial;
}

.fs2{
    font-family: "Roboto", sans-serif;
    font-size: 50pt;
    color: #2672B0;
    font-style: initial;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
  
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 250px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(14, 13, 13, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #2672B0;
    padding: 5px;
    border: 1px ;
}

.container .card .face.face2 .content a:hover{
    background: rgb(244, 244, 245);
    color:  #2672B0;
}
  