.bg {
    background-image: url("https://i.imgur.com/H6MQw6n.jpg");
    height: 550px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    
  }

.p-100{
    padding: 100px 3% 20px;
}

.p-10{
    padding: 20px 70px;
}

.fonte{
    font-family: 'Gil Sans Ultra Bold Condensed';    
}

.menu-fixo{
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all .5s;
}

  