
      <div class="bg"><!--Classe para imagem background-->
       
       <app-menu></app-menu>
    <!--Nome Projeto e botão doe agora-->
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center p-200 text-dark">
                <img class="img-fluid" src="https://i.imgur.com/gMytlUG.png" alt="">              
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center p-10 fs1">
                <p>Já pensou que mágico seria ter o poder de doar e transformar a vida de alguém em apenas um clique?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
               <button class="btn btn-lg bc text-white" routerLink='/parceiros' >Doe agora</button>
            </div>
        </div>
    </div>
    <!--/Nome Projeto e botão doe agora-->
</div>
<div class="bgg">

  <!--Container Conheça as Causas-->
<div class="row bgcolor">
  <div class="col-md-12 d-flex justify-content-center p-100">
    <h1>Destaques do mês</h1>
  </div>
</div>
<div class="container fluid p-100">
  <div class="card">
    <div class="face face1">
        <div class="content">
            <img src="https://i.imgur.com/a71gy2Y.jpg">        
        </div>
    </div>
    <div class="face face2">
        <div class="content">
          <h4 class="text-center">Fluxo sem tabu</h4>
            <p>Fluxo sem tabu? Sim isso pode ser transformado em realidade a muitas mulheres em situação de vunerabilidade</p>
                <a routerLink='/parceiros' >Saiba mais</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="face face1">
        <div class="content">
            <img src="https://i.imgur.com/AP4mlIs.jpg">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Saiba mais</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="face face1">
        <div class="content">
            <img src="https://i.imgur.com/KJGYLCa.jpg">
        </div>
    </div>
    <div class="face face2">
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                <a href="#">Saiba Mais</a>
        </div>
    </div>
</div>
</div>
<!--/Container Conheça as Causas-->
<!--Quem somos-->
<div class="container-fluid" id="quemSomos">
  <div class="row bgcolor">
      <div class="col-md-12 d-flex justify-content-center p-10">
          <h1>O que é a Humanae?</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex ">
      <img src="https://i.imgur.com/5YbIFzC.png" alt="quem somos" width="500px" height="400px">
  </div>
      <div class="col-md-6 d-flex justify-content-center fs2 p-100">
          <p>A Humanae juntamente com Ongs parceiras, visa criar uma experiência de aproximação entre doador e as causas sociais por nós defendidas, a partir desse vínculo promover um impacto tangível a curto prazo na vida de pessoas em situação de vulnerabilidade.</p>
      </div>
      
  </div>
  </div>
  <!--/Quem somos-->


<app-contato></app-contato>

<!--Nosso Time-->
<app-time></app-time>
<!--/Nosso Time-->
<app-contato></app-contato>
<app-rodape></app-rodape>

</div>

