/*
body {
    height: 100%;
  }
  
  .bg {
    background-image: url("https://imgur.com/keSRXno.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

*/
