<footer class="foot mt-5">
    <div class="container-fluid  " style="z-index: 2;">
        <div class="row ">
            <div class="col-md-6 d-flex  mt-5 ">
                <img class="mb-3 ml-3 mr-3" style="z-index: 1; position: relative; width: 3px; height: 120px;"
                    src="https://i.imgur.com/zHvl9OW.png" alt="">

                <h1 id="text3" class="text-left">Nós da Humanae <div class="mt-2 mb-2">agradecemos sua visita!</div> 
                </h1>
            </div>
        </div>

        <div class="row d-flex justify-content-end p-10 ">

            <div class="col-md-4">
                <h3 class="text-white">Registre-se como parceiro ou doador agora mesmo e continue nos ajudando a
                    plantar o futuro.</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-end p-10 ">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <button class="btn bc mb-4 text-white" routerLink='/cadastrar'>Registre-se</button>
        </div>
    </div>


        <div class="row d-flex justify-content-center align-items-center p-10">
            <div class="col-md-6 d-flex justify-content-center">
                <p class="text-center text-white">Todos os direitos reservados a Humanae &copy;</p>
            </div>
        </div>

    </div>
</footer>